{% extends '@EasyAdmin/page/content.html.twig' %}

{% block page_content %}
<div class="col-8">
    {% if bicycles %}
    <div class="card">
        <div class="card-body">
            <h5 class="card-title text-uppercase">{{ bicycles|length }} Bicicletas disponibles</h5>
            <table class="table table-sm">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Nombre</th>
                        <th scope="col">Tipo</th>
                        <th scope="col" class="text-center">Precio</th>
                        <th scope="col" class="text-right">Plan</th>
                    </tr>
                </thead>
                <tbody>
                    {% for bicycle in bicycles %}
                    <tr>
                        <th scope="row">{{ loop.index }}</th>
                        <td>{{ bicycle.name }}</td>
                        <td>{{ bicycle.type }}</td>
                        <td class="text-center">{{ bicycle.type.price }} EUR</td>
                        <td class="text-right">{{ bicycle.type.plan }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    {% endif %}
</div>
{% endblock %}